@import '/src/assets/styles/mixins.scss';
@import '/src/assets/styles/variables.scss';

.title {
    @media screen and (max-width: $commonBreakpointSm) {
        max-width: 250px;
        align-self: center;
    }
    text-align: center;
}

.ranges {
    margin: 32px 0;
}

.button {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 32px;
        text-align: center;
    }
    
    &__capture-text {
        @include font(10px, 11px, 400);
        max-width: 230px;
        $color: $inputTextColor;
    }

    &__link {
        @include font(10px, 11px, 600);
        text-decoration: none;
        outline: none;
        color: $rangeBorder;
    }
}