// Media breakpoints
$commonBreakpointSm: 639px;
$commonBreakpointMd: 767px;
$commonBreakpointLg: 1023px;

// Colors
$actionColor: rgba(232, 102, 48, 1);
$borderActionColor: rgba(242, 97, 38, 1);
$inputTextColor: rgba(129, 129, 140, 1);
$inputBorderColor: rgba(239, 239, 246, 1);
$rangeBorder: rgba(95, 77, 130, 1);