// Media breakpoints
$commonBreakpointSm: 639px;
$commonBreakpointMd: 767px;
$commonBreakpointLg: 1023px;

// Colors
$actionColor: rgba(232, 102, 48, 1);
$borderActionColor: rgba(242, 97, 38, 1);
$inputTextColor: rgba(129, 129, 140, 1);
$inputBorderColor: rgba(239, 239, 246, 1);
$selectedInput: rgb(212, 212, 214);
$rangeBorder: rgba(95, 77, 130, 1);
$buttonColor: rgba(88, 88, 146, 1);
$buttonText: rgba(255, 255, 255, 1);
$filtersBorder: rgba(164, 164, 205, 1);
$filterInactiveText: rgba(65, 65, 80, 1);
$cardTitleColor: rgba(63, 61, 82, 1);
$cardAdditionalTextColor: rgba(139, 139, 151, 1);