@import '/src/assets/styles/mixins.scss';
@import '/src/assets/styles/variables.scss';

.filters {
    display: flex;
    width: 100%;
    margin-top: 32px;;
    border: 1px solid $filtersBorder;
    border-radius: 5px;
    background-color: $inputBorderColor;
    

    &__item {
        @include font(12px, 14px, 600);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        padding: 8px 0;
        border: 1px solid transparent;
        border-radius: 4px;
        color: $filterInactiveText;
        background-color: transparent;
        transition: color .3s ease,
                    background-color .2s ease;
        cursor: pointer;
        
        span {
            max-width: 105px;
            text-align: center;
        }
        &.active {
            color: $buttonText;
            background-color: $buttonColor;
            cursor: default;
        }
    }
}